@font-face {
  font-family: 'Regio Mono';
  src: local('Regio Mono'), url(./fonts/RegioMono-Medium.otf) format('otf');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Regio Mono Reg';
  src: local('Regio Mono Reg'), url(./fonts/RegioMono-Regular.otf) format('otf');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Montserrat Italic';
  src: local('Regio Mono'), url(./fonts/Montserrat-Italic-VariableFont_wght.ttf) format('ttf');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Montserrat';
  src: local('Regio Mono Reg'), url(./fonts/Montserrat-VariableFont_wght.ttf) format('ttf');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body{
  font-family: 'Regio Mono';
}



@tailwind base;
@tailwind components;
@tailwind utilities;